header
    .header-top
        .inner
            .container-fluid
                .row
                    .col-md-12
                        a.logo(href="#")
                            img(src="img/logo.png")
                            p
                                |Спецзаказ
                                br
                                span  ФАБРИКА ИНДИВИДУАЛЬНОЙ МЕБЕЛИ
                        .header-phone
                            p
                                span Горячая линия
                                br
                                |  8 (800) 500-33-45
                        .header-phone
                            p
                                span Городской номер
                                br
                                |  8 (4852) 68-48-15
                        .header-phone
                            p
                                span Время работы
                                br
                                |  с 10:00 до 19:30
                        .header-call
                            a.btn.btn-orange(href="#")
                                i.icon.icon-phone-black
                                span  Заказать звонок
                            p
                                i.icon.icon-metka
                                span  Ярославль, пр-т Толбухина, 40
    .h-mnu
        .inner
            .container-fluid
                .row
                    .col-md-12
                        ul
                            li
                                a(href="#") Каталог
                                    i.icon.icon-hamb
                            li
                                a(href="#") Акции
                            li
                                a(href="#") Почему мы
                            li
                                a(href="#") Наши проекты
                            li
                                a(href="#") Интересное
                            li
                                a(href="#") О компании
