extends layouts/html.jade
block content
    .content
        .inner
            .container-fluid
                .row
                    .col-md-3.content-left
                    .col-md-9.content-right
                        .content-img
                            img(src="img/spec.jpg")
                            h2 популярные категории для дома
                        .row
                            .col-md-4
                                .content-item
                                    img(src="img/item1.jpg")
                                    .content-item-line
                                        h2 Офисная мебель
                                        p от 35 000 Р
                                        a.btn.btn-line(href="#")
                                            span Подробнее
                                            i.icon.icon-line-arrow
                            .col-md-4
                                .content-item
                                    img(src="img/item2.jpg")
                                    .content-item-line.content-item-line-mod
                                        h2 Офисная мебель
                                        p от 35 000 Р
                                        a.btn.btn-line(href="#")
                                            span Подробнее
                                            i.icon.icon-line-arrow
                            .col-md-4
                                .content-item
                                    img(src="img/item3.jpg")
                                    .content-item-line
                                        h2 Офисная мебель
                                        p от 35 000 Р
                                        a.btn.btn-line(href="#")
                                            span Подробнее
                                            i.icon.icon-line-arrow
